
.table{
    text-align: right;
}

.delete-icon{
    position: relative;
    display: inline-block;
    border-radius: 3px;
    font-size: 15px;
    width: 85px;
    height: 32px;
    cursor: pointer;
    padding: 0;
}

.search-input{
    height: 2.3rem;
    width: 15rem;
    border-radius: 4px;
    border: 1px solid;
    background-color: #F7F7F7;
    padding-right: 10px;
}